.dashboard,
.dashboard__cardView {
  display: flex;
}
select,
option,
mat-label {
  color: var(--text-color-secondary);
  background-color: var(--bg-dropdown);
}

.dropdown {
  background-color: var(--bg-dropdown);
  border-radius: 5%;
}

.dashboard__cardView {
  flex-wrap: wrap;
}

.dashboard__card {
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

mat-option {
  background-color: var(--bg-secondary);
}

@media (max-width: 427px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard__dropdown {
    margin-top: 10px;
    margin-left: 50px;
  }

  .dropdown {
    width: 200px;
  }
}

@media (min-width: 1023px) {
  .dashboard__card {
    width: 350px;
  }
}
