<div class="dashboard">
  <div class="dashboard__dropdown">
    <mat-form-field>
      <mat-label>Select brand</mat-label>
      <select
        matTooltip="Choose brands"
        matNativeControl
        (change)="getSelectedBrandDetails(option.value)"
        #option
      >
        <option [value]="-1">All</option>
        <option [value]="brand.id" *ngFor="let brand of brandList">{{
          brand.name
        }}</option>
      </select>
    </mat-form-field>
  </div>
  <div class="dashboard__cardView">
    <div
      class="dashboard__card"
      *ngFor="let socialMedia of dashBoardList"
      (click)="overViewHandler(socialMedia.socialMediaId)"
      matTooltip="Click to view more details"
    >
      <app-social-media-card
        [imgSource]="getImageSource(socialMedia.socialMediaType)"
        [followersCount]="socialMedia.followers"
        [userName]="socialMedia.socialMediaUserName"
      ></app-social-media-card>
    </div>
  </div>
</div>
