<div class="dashboard">
  <div class="dashboard__dropdown">
    <mat-form-field class="dropdown">
      <mat-label>Select brand</mat-label>
      <mat-select
        backdropClass="customize"
        [(value)]="brandSelected"
        (selectionChange)="getSelectedBrandDetails(brandSelected)"
      >
        <mat-option [value]="'-1'">All</mat-option>
        <mat-option [value]="brand.id" *ngFor="let brand of brandList">{{
          brand.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dashboard__cardView">
    <div
      class="dashboard__card"
      *ngFor="let socialMedia of dashBoardList"
      (click)="overViewHandler(socialMedia.socialMediaId)"
    >
      <app-social-media-card
        [imgSource]="getImageSource(socialMedia.socialMediaType)"
        [followersCount]="socialMedia.followers"
        [userName]="socialMedia.socialMediaUserName"
      ></app-social-media-card>
    </div>
  </div>
</div>
