.dashboard {
  display: flex;
  color: var(--text-color-primary);
}
.dropdown {
  background-color: var(--bg-dropdown);
  border-radius: 5%;
}
.dashboard__cardView {
  display: flex;
  flex-wrap: wrap;
}
.dashboard__card {
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
mat-option {
  background-color: var(--bg-secondary);
  color: var(--text-color-secondary);
}
mat-label,
.customize + * .mat-menu-panel {
  color: var(--text-color-secondary) !important;
}

@media (max-width: 427px) {
  .dashboard {
    flex-direction: column;
  }
  .dashboard__dropdown {
    margin-top: 10px;
    margin-left: 50px;
  }
  .dropdown {
    width: 200px;
  }
}

@media (min-width: 1023px) {
  .dashboard__card {
    width: 350px;
  }
}
