.dashboard {
  display: flex;
  background-color: var(--background-dashboard-main);
}
.dashboard__dropdown {
  padding-right: 2%;
  background-color: var(--background-dashboard-side);
}
.dashboard__cardView {
  display: flex;
  flex-wrap: wrap;
}
.dashboard__card {
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
@media (min-width: 1023px) {
  .dashboard__card {
    width: 350px;
  }
}
