.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4% 4%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card__header {
  display: flex;
  align-items: center;
}
.card__followers__count {
  font-weight: bold;
  font-size: x-large;
}
.card > .card__icon {
  width: 25px;
  height: 25px;
}
