.card,
.card__header {
  display: flex;
  align-items: center;
}

.card {
  flex-direction: column;
  background-color: var(--bg-tertiary);
  padding: 4% 4%;
  justify-content: space-between;
  box-shadow: var(--background-socialmedia-hover);
  color: var(--text-color-secondary);
}
.card:hover {
  background-color: var(--hover--primary);
  cursor: pointer;
}
.card__followers__count {
  font-weight: bold;
  font-size: x-large;
}
.card > .card__icon {
  width: 25px;
  height: 25px;
}
