.header,
.header__logo,
.header__rightside {
  display: flex;
}

.header,
.menu__button {
  background-color: var(--bg-secondary);
  color: var(--text-color-secondary);
}
.header,
.header__logo {
  align-items: center;
}
.header {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  list-style-type: none;
  flex: 1;
  flex-wrap: wrap;
}
.header__logo {
  flex: 0.7;
}
.header__rightside {
  flex: 0.3;
  justify-content: space-evenly;
}
li {
  cursor: pointer;
  padding: 15px 15px;
}
li:hover,
.active,
.customize + * .mat-menu-panel {
  background-color: var(--hover--primary);
  color: var(--text-color-secondary);
}
