<ul class="header">
  <div>
    <li
      class="header__logo"
      routerLink="/"
      (click)="setActiveTab('Home')"
      [ngClass]="activeTab === 'Home' ? 'active' : ''"
    >
      <mat-icon>dashboard</mat-icon>ABC corp.
    </li>
  </div>
  <div class="header__rightside">
    <li
      routerLink="/Dashboard"
      (click)="setActiveTab('Dashboard')"
      [ngClass]="activeTab === 'Dashboard' ? 'active' : ''"
    >
      Dashboard
    </li>
    <li>About</li>
    <li [matMenuTriggerFor]="menu">
      <mat-icon>palette</mat-icon>
      <mat-menu #menu="matMenu" backdropClass="customize">
        <button
          *ngFor="let theme of themeList"
          mat-menu-item
          (click)="changeTheme(theme)"
        >
          {{ theme.name }}
        </button>
      </mat-menu>
    </li>
  </div>
</ul>
