.overview,
.overview_logo,
.overview__data,
.data {
  display: flex;
}

.overview,
.data {
  flex-direction: column;
}

.overview_logo,
.data__header,
.data__count,
.data {
  align-items: center;
}

.overview__dropdown,
.overview_logo {
  margin: auto;
  margin-top: 15px;
}
.overview,
select,
option,
mat-label {
  color: var(--text-color-secondary);
}
.overview {
  background: var(--bg-tertiary);
  height: 100%;
}

.overview__data {
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.data__header {
  font-size: large;
}

.data__count {
  margin-top: 15px;
  font-size: x-large;
}

select,
option,
mat-label {
  background-color: var(--bg-dropdown);
}
