<div class="overview">
  <div class="overview__dropdown">
    <mat-form-field>
      <mat-label>Select month</mat-label>
      <select
        matTooltip="Choose month"
        matNativeControl
        (change)="fetchValues(option.value)"
        #option
        class="select__tag"
      >
        <option [value]="'All'">All</option>
        <option [value]="month" *ngFor="let month of monthList">{{
          month
        }}</option>
      </select>
    </mat-form-field>
  </div>
  <div class="overview_logo">
    <img [src]="data.imageSource" alt="Social media icon" class="logo__icon" />
    <div class="logo__username">{{ userName }}</div>
  </div>
  <div class="overview__data">
    <div class="data">
      <div class="data__header">Likes</div>
      <div class="data__count">{{ likeCount }}</div>
    </div>
    <div class="data">
      <div class="data__header">PageView</div>
      <div class="data__count">{{ pageViewCount }}</div>
    </div>
  </div>
</div>
