.overview {
  display: flex;
  flex-direction: column;
  background: var(--background-overview);
  height: 100%;
}
.overview__dropdown {
  margin: 15px auto;
}
.overview_logo {
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 15px;
}
.overview__data {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 75px;
}
.data__header {
  font-size: large;
  align-items: center;
  color: var(--foreground-overview);
}
.data__count {
  margin-top: 15px;
  font-size: x-large;
  align-items: center;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
