<div class="homepage">
  <div class="homepage__banner">
    <img
      src="../../../assets/Images/background-img/homepage.PNG"
      alt="design logo"
    />
  </div>
  <div class="homepage__content">
    <p>
      DBD Corp. is a design and development firm helping organizations transform
      their business and increase market value.
    </p>
    <p>
      DBD Corp. helps businesses cope and innovate in the digitalization era
      using a unified framework of technology, data, insights, design and
      strategy.
    </p>
  </div>
</div>
