/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fe;
  --bg-tertiary: #f0f3fa;
  --bg-dropdown: #f0f3fa;
  --text-color-primary: #ffffff;
  --text-color-secondary: #1a1a22;
  --hover--primary: #a4a5c1;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-modalbox > mat-dialog-container {
  padding: 0px;
}
